.underline-x {
  background-image: linear-gradient(120deg, #64ffdb67 0%, #64ffdb28 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.12em;
  background-position: 0 78%;
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;

  &:hover {
    color: #64ffda;
    background-size: 100% 88%;
    cursor: pointer;
  }
}
