/* Reset CSS
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&display=swap");

// Tailwind CSS
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom Styling */
body {
  font-family: "Poppins", sans-serif;
  background-color: #060e1a;
  margin: 0px;
  padding: 0px;
}

body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(15, 15, 15, 0.164);
}

body::-webkit-scrollbar-thumb {
  background-color: #0b192e;
  outline: 1px solid #060e1a;
}

#home {
  .font-mono {
    font-family: "Fira Mono";
  }

  .underline-x {
    background-image: linear-gradient(120deg, #64ffdb75 0%, #64ffdb38 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.15em;
    background-position: 0 78%;
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;

    &:hover {
      color: #64ffda;
      text-shadow: 0 0 1px #64ffda, 0 0 2px #64ffda, 0 0 4px #64ffda,
        0 0 12px #64ffda, 0 0 20px #64ffda;
      background-size: 100% 88%;
      cursor: pointer;
    }
  }
}
